@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    color: black;
}

.logo {
    border-radius: 0;
}

.hero {
    height: 100vh;
    padding: 0 6em;
    background: linear-gradient(to top, #1b1b1b85, #0b0c0c8e),url(https://images.pexels.com/photos/6205626/pexels-photo-6205626.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-text {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    padding: 2em 0;
}

.navbar {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 0em;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 2em;
    color: #335B50;
}

img {
    border-radius: 20px;
}

button {
    padding: 15px 30px;
    font-size: inherit;
    border-radius: 10px;
    background-color: #F5C5BE; 
    border: none;
    margin-top: 1em;
    box-shadow: 0 6px #d49393;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 100ms;
}

button:hover {
    transform: translateY(2px);
    box-shadow: 0 4px #d49393;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    border-bottom: solid 2px transparent;
    padding: 1em;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 100ms; 
}

a:hover {
    color: #F5C5BE;
    border-bottom: solid 2px #F5C5BE;
}

.most-popular-container {
    display: flex;
    flex-direction: column;
    padding: 6em;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    display: inline-block;
    max-width: 25%;
}

.card-text {
    width: 0;
  min-width: 100%;
}
